.main {
    margin: 55px 0 80px;
}

.main__wrap {
    align-items: start;
}

.section {
    padding: 0 15px;
}

.section__input {
    width: 90%;
    padding: 8px 10px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    outline-color: rgb(74 144 226);
    outline-width: 1px;
    font-size: 16px;
    margin: 10px 0;
}

.section__title {
    margin-bottom: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.section__info {
    line-height: 26px;
    margin-bottom: 10px;
}

.section__link {
    text-decoration: none;
    color: #4a90e2;
}

.section__link:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    flex-direction: column;
}

.area__textarea {
    width: 90%;
    resize: none;
    min-height: 250px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    outline-color: #4a90e2;
    padding: 10px;
    font-size: 18px;
}

.area__textarea::placeholder {
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.section__str-length {
    font-size: 12px;
    color: #999;
}

.area {
    position: relative;
}

.area__label {
    position: absolute;
    top: 11px;
    left: 155px;
    color: #4a90e2;
    cursor: pointer;
}

.area__label:hover {
    color: red;
}

.area__file {
    display: none;
}

.area__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info__name {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.info__length {
    font-size: 15px;
    margin: 0;

}

.info__back {
    font-size: 13px;
    border-bottom: 1px dashed #999;
    color: #999;
    cursor: pointer;
    margin-top: 5px;
    margin: 0;

}