.result {
    position: sticky;
    top: 10px;
    margin-top: 93px;
    border-top: 1px solid rgb(234 234 234);
    padding: 0 15px;
}

.result__submit {
    padding: 15px 30px;
}

.result__price {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 5px;
}

.result__info {
    color: #999;
    font-size: 15px;
    margin: 5px 0 5px;
    min-height: 17px;
}

.result__price,
.result__time {
    text-align: center;
}

.result__check{
    margin-top: 10px;
}